@page
@model RazorCrudScaffold.Pages.EmployeeMaster.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>


<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Age)
        </dd>
    </dl>
</div>
<div class="mt-2">
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ID" class="btn btn-primary">Edit</a> 
    <a asp-page="./Index" class="btn btn-success">Back to List</a>
</div>

     